/* dashboard.css */

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  );
}

.sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

.sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.sidebar-wrapper .list-group {
  width: 15rem;
}

.page-content-wrapper {
  min-width: 100vw;
}

.wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

/* Navbar */
.navbar {
  padding: 1rem 0;
}

.navbar-toggler {
  border: none;
}

/* Boxes */
.col-md-3 {
  margin-bottom: 1rem;
}

.fs {
  margin-bottom: 0.5rem;
  align-items:center;
  color: orange;
}

/* Recent Orders Table */
.table {
  width: 100%;
}

.table th,
.table td {
  padding: 1rem;
}

.table-hover tbody tr:hover {
  background-color: orange;
}

/* Responsive Sidebar */
@media (min-width: 768px) {
  .sidebar-wrapper {
    margin-left: 0;
  }

  .page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  .wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* Custom CSS for the row of boxes */
.row.g-3.my-2 {
  display: flex;
  justify-content: space-between;
}

.col-md-3 {
  flex: 0 0 calc(25% - 1rem);
  max-width: calc(25% - 1rem);
  box-sizing: border-box;
}

.p-3.bg-white.shadow-sm {
  background-color: orange;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow */
}

.p-3.bg-white.shadow-sm:hover {
  background-color: #cc5500;
}

/* Adjustments for the content inside each box */
.col-md-3 .fs-2,
.col-md-3 .fs-5 {
  margin: 0;
}

/* Example styling for the icon */
.col-md-3 i {
  font-size: 2rem;
  color: #009d63; /* You can adjust the color as needed */
}


.container-fluid {
  background: url(./bg2.jpg);
  color: white;
}
 .logoutbtn {
  margin-left: 85%;
  color: cyan;
 }
